.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* holds login fields */
#login-div {
  height:400px;
  margin: auto;
  width: 75%;
  padding: 10px;
  padding: 10px;
  box-shadow: 5px 10px 10px #888888;
}
/* submit login information */
#login-button {
  border-radius:5px;
  width:56.5%;
  background-color:#ED8643;
  color:white;
  font-size:125%;
  padding:15px;
  border:none;
}
#login-button:hover {
  background-color:#5E6E7D;
}
/* username or password field */
.login-field {
  border-radius:none;
  width:55%;
  height:30px;
}
/* display on side of login box the logo */
#login-logo {
  height:100%;
  width:35%;
  float:left;
  background-color:#5C6F7D;
}
/* form contains username and password fields */
#login-form {
  height:100%;
  background-color:#43505B;
  width:65%;
  float:right;
}
/* noinc image on login page */
#login-img {
  width:50%;
}
/* navbar container */
#navbar {
  height:65px;
  background-color:#43505B;
}
/* link on navbar */
.nav-item {
  padding:25px;
  margin:15px;
  text-decoration:none;
  color:white;
}
.nav-item:hover {
  transition:.5s;
  color:#ED8643;
  text-decoration:none;
  cursor:pointer
}
.nav-item-active {
  padding:25px;
  margin:15px;
  text-decoration:underline 5px #ED8643;
  color:white;
}
/* logo on left side of navbar */
#nav-logo {
  height:65px;
  float:left;
}
/* welcome, user message on navbar */
#nav-welcome {
  padding-right:35px;
  float:right;
  font-weight:bold;
  color:white;
}
/* divider between links on navbar */
.nav-divider {
  color:white;
}
/* pages */
#homepage,#skills-div,#interests-div,#interest-details,#skill-details {
  padding:50px;
}
/* welcome, user on homepage */
#home-welcome {
  text-align:left;
  font-weight:300;
}
/* interest name on interest or skill page */
#detail-welcome {
  text-align:left;
  font-weight:300;
  font-size:50px;
}
/* show featured interests and skills */
#featured-text {
  text-align:left;
  font-weight:300;
}
/* container of cards */
#card-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* card item that container skills and interests */
#card {
  width: 375px;
  height: 225px;
  border:10px solid white;
  box-shadow: 0 0 5px 2px #888888;
  flex-basis:auto;
  margin:20px;
  background-color:#F4F9FD;
  text-align:left;
  cursor:pointer;
}
#card:hover {
  border:10px solid #ED8643;
  transition:.5s;
}
/* name on card */
#card-name {
  color:#ED8643;
  padding-left:25px;
  padding-top:25px;
  margin-bottom:0px;
  margin-top:0px;
}
/* details on cards */
#card-details {
  padding-left:25px;
  padding-top:25px;
  font-weight:300;
  font-size:20px;
}
/* details on specific skills and interests */
#item-details {
  text-align:left;
  font-weight:lighter;
}
/* types of interests and skills */
#Sport {
  background-color:steelblue;
  padding:5px;
  color:white;
}
#Game {
  background-color:darkred;
  padding:5px;
  color:white;
}
#Essential {
  background-color:green;
  padding:5px;
  color:white;
}
#Practical {
  background-color:goldenrod;
  padding:5px;
  color:white;
}
#Professional {
  background-color:darkmagenta;
  padding:5px;
  color:white;
}